<div class="game">
  <div class="leaderboard stats">
    <h2>leaderboard</h2>
  </div>

  <ul class="player stats">
    <li>
      <h2>next piece</h2>
      <p>secret</p>
    </li>
    <li>
      <h2>level</h2>
      <p id="world-level"></p>
    </li>
    <li>
      <h2>your lines</h2>
      <p id="player-lines"></p>
    </li>
  </ul>

  <canvas id="canvas"></canvas>
</div>
