<div class="main container group">
  <a href="/1p" class="punch">1P</a>
  <a href="/2p" class="punch">2P</a>
    <form action="/score" method="POST">
    <input name="score" type="text" placeholder="score">
    <input type="submit" value="score!">
  </form>
</div>
