<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Canvas Tetris</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
  test |
  <a href="/static">static</a>
</nav>

<canvas id="canvas"></canvas>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/js/keymaster.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

</body>
</html>
