<section id="welcome">
  <h1>Tetromino</h1>
  <h2>Multi-Player Tetris</h2>
  <!--a href="/1p" class="btn-punch one-player">1P</a-->
  <a href="/*p" class="btn-punch infinite-player centered">*P</a>
</section>
