<form id="login" method="POST" action="/login">
	<h1>Login</h1>
	<p><label>Username<br><input type="text" name="username" placeholder="user"></label></p>
	<p><label>Password<br><input type="password" name="password" placeholder="pass"></label></p>
	<p><input type="submit" value="Login"></p>
</form>
