<form id="register" method="POST" action="/register">
	<h1>Register</h1>
	<p><label>Email<br><input type="email" name="email" placeholder="example@whatever.com"></label></p>
	<p><label>Desired Username<br><input type="text" name="username" placeholder="user"></label></p>
	<p><label>Desired Password<br><input type="password" name="password" placeholder="pass"></label></p>
	<p><input type="submit" value="Register"></p>
</form>
