<h1>High Scores</h1>
<table class="high-scores">
<thead>
  <tr><td>User</td><td>Score</td></tr>
</thead>
<tbody>
<% 
  scores.forEach(function(score){
%><tr><td><%= score.username %></td><td><%= score.highscore %></td></tr>
<%  }); %>
</tbody>
</table>