.game {
  position: relative;
}

#canvas {
  margin: 0 auto;
  display: block;
}

.stats {
  position: absolute;
  top: 0;
  width: 180px;
}

.stats h2 {}

.enemy.stats {
  left: 0;
  padding-right: 30px;
}

.player.stats {
  right: 0;
  padding-left: 30px;
}

.player.stats .lines {}
