.game {
  background: rgba(255, 255, 255, .3);
  border: 1px solid rgba(0, 0, 0, .1);
  border-top: none;
  min-height: 541px;
  position: relative;
}

#canvas {
  margin: 0 auto;
  display: block;
}

.stats {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 209px;
}

.stats li {}

.stats h2 {
  font-size: 20px;
  font-weight: bold;
  background: url(/img/interface/header_bg.png);
  border: 1px solid rgba(0, 0, 0, .1);
  border-width: 1px 0;
  color: #ffe;
  padding: 0 0 0 30px;
}

.stats p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 20px 30px;
}

.leaderboard.stats {
  left: 0;
}

.player.stats {
  right: 0;
}

.player.stats h2 {
  background-position: right top;
}

.player.stats .lines {}
